<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main">
      
       <h1> <li v-for="user in users">
            {{user.name}} - {{user.rol}}
        </li></h1>

    <fieldset>
        <input v-model="name" type="text">
        <hr>
        <input v-model="rol" type="text">
        <hr>
        <button  @click="AgregarUsuario()">
            INGRESAR NUEVO USUARIO
        </button>
    </fieldset>






</div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp, ref } = Vue
      
        createApp({
          setup() {
            const message = ref('Hello vue!')
            let name=ref('')
            let rol=ref('')

            let users=ref([
                {
                    "name":"Kevin",
                    "rol":"Fullstack"
                },
                {
                    "name":"Jacquelinne",
                    "rol":"Backend"
                },

            ]);

            
           


            return {
              message,
              users,
              rol,
              name,
             
            }
          },
          methods:{
            AgregarUsuario(){
                let temp={
                    "name":this.name,
                    "rol":this.rol
                }
                this.users.push(temp)
                this.name=('')
                this.rol=('')
            }

          }
        }).mount('#main')
      </script>
</body>
</html>
